#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  top: 10px;
}

@keyframes fadein {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 45px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 20px;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 13px;
}
.message__author {
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 15px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -20px;
  top: 5px;
}

.reply__column:last-child > i {
  right: 25px;
  top: 8px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

@keyframes bubblepop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message__info,
#myself {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  opacity: 0;
  animation: bubblepop 0.5s ease-in-out forwards;
}
.message__info:nth-child(2) {
  animation-delay: 1s;
}
.message__info:nth-child(3) {
  animation-delay: 1.5s;
}
.message__info:nth-child(4) {
  animation-delay: 2s;
}
.message__info:last-child {
  animation-delay: 2.5s;
}
#myself {
  animation-delay: 3s;
}

.reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child {
  display: none;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-6%), translateY(80px);
}
